<?xml version="1.0"?>
<robot name="pod_copter" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:drake="http://mit.edu">

  <!-- File Conventions
    - mass (kg)
    - length (m)
    - inertia (kgm^2)
    - 
  -->

  <!-- TO DO
    - update dimensions
    -
  -->

  <!-- #region Xacro Definitions -->
  <xacro:property name="pi" value="3.141592653589793"/>
  <xacro:property name="zero_origin" value = "0.0 0.0 0.0"/>
  <xacro:property name="zero_rpy" value = "0.0 0.0 0.0"/> 

  <xacro:property name="base_radius" value = "${0.15/2}"/>
  <xacro:property name="base_length" value = "0.05"/>
  <xacro:property name="base_origin" value = "${zero_origin}"/>
  <xacro:property name="base_mass" value = "0.5"/>
  <xacro:property name="base_ixx" value = "${(base_mass*base_radius**2)/4 + (base_mass*base_length**2)/12}"/>
  <xacro:property name="base_iyy" value = "${(base_mass*base_radius**2)/4 + (base_mass*base_length**2)/12}"/>
  <xacro:property name="base_izz" value = "${(base_mass*base_radius**2)/2}"/>
  <xacro:property name="base_ixy" value = "0.0"/>
  <xacro:property name="base_ixz" value = "0.0"/>
  <xacro:property name="base_iyz" value = "0.0"/>

  <xacro:property name="arm_radius" value = "0.02"/>
  <xacro:property name="arm_length" value = "0.1"/>
  <xacro:property name="arm_origin" value = "0.0 0.0 ${arm_length/2}"/>
  <xacro:property name="arm_mass" value = "0.05"/>
  <xacro:property name="arm_ixx" value = "${(arm_mass*arm_radius**2)/4 + (arm_mass*arm_length**2)/3}"/>
  <xacro:property name="arm_iyy" value = "${(arm_mass*arm_radius**2)/4 + (arm_mass*arm_length**2)/3}"/>
  <xacro:property name="arm_izz" value = "${(arm_mass*arm_radius**2)/2}"/>
  <xacro:property name="arm_ixy" value = "0.0"/>
  <xacro:property name="arm_ixz" value = "0.0"/>
  <xacro:property name="arm_iyz" value = "0.0"/>
  <xacro:property name="arm_joint_axis" value = "0.0 0.0 1.0"/>
  <xacro:property name="arm_joint_limit" value = "${4*pi}"/>
  <xacro:property name="arm_joint_effort" value = "0.0"/>

  <xacro:property name="split_xsize" value = "0.2"/>
  <xacro:property name="split_ysize" value = "${2*arm_radius}"/>
  <xacro:property name="split_zsize" value = "0.05"/>
  <xacro:property name="split_origin" value = "0.0 0.0 ${split_zsize/2}"/>
  <xacro:property name="split_mass" value = "0.1"/>
  <xacro:property name="split_ixx" value = "${(split_mass*(split_ysize**2+split_zsize**2))/12 + split_mass*(split_zsize/2)**2}"/>
  <xacro:property name="split_iyy" value = "${(split_mass*(split_xsize**2+split_zsize**2))/12 + split_mass*(split_zsize/2)**2}"/>
  <xacro:property name="split_izz" value = "${(split_mass*(split_xsize**2+split_ysize**2))/12}"/>
  <xacro:property name="split_ixy" value = "0.0"/>
  <xacro:property name="split_ixz" value = "0.0"/>
  <xacro:property name="split_iyz" value = "0.0"/>
  <xacro:property name="split_joint_origin" value = "0.0 0.0 ${arm_length}"/>

  <xacro:property name="prop_radius" value = "0.06"/>
  <xacro:property name="prop_length" value = "0.01"/>
  <xacro:property name="prop_origin" value = "0.0 0.0 ${prop_length/2}"/>
  <xacro:property name="prop_mass" value = "0.001"/>
  <xacro:property name="prop_ixx" value = "${(prop_mass*prop_radius**2)/4 + (prop_mass*prop_length**2)/12}"/>
  <xacro:property name="prop_iyy" value = "${(prop_mass*prop_radius**2)/4 + (prop_mass*prop_length**2)/12}"/>
  <xacro:property name="prop_izz" value = "${(prop_mass*prop_radius**2)/2}"/>
  <xacro:property name="prop_ixy" value = "0.0"/>
  <xacro:property name="prop_ixz" value = "0.0"/>
  <xacro:property name="prop_iyz" value = "0.0"/>
  <xacro:property name="prop_joint_origin_r" value = "${split_xsize/2} ${-split_ysize/2} ${split_zsize/2}"/>
  <xacro:property name="prop_joint_origin_l" value = "${-split_xsize/2} ${-split_ysize/2} ${split_zsize/2}"/>
  <xacro:property name="prop_joint_rpy" value = "${pi/2} 0.0 0.0"/>
  <!-- #endregion -->

  <!-- #region Material Definitions -->
  <material name="gray">
    <color rgba="0.5 0.5 0.5 1.0"/>
  </material>
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <!-- #endregion -->

  <!-- #region Copter Base -->
  <link name="copter_base">
    <inertial>
      <origin xyz="${zero_origin}" rpy="${zero_rpy}"/>
      <mass value="${base_mass}"/>
      <inertia ixx="${base_ixx}" ixy="${base_ixy}" ixz="${base_ixz}" iyy="${base_iyy}" iyz="${base_iyz}" izz="${base_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${zero_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${base_radius}" length="${base_length}"/>
      </geometry>
      <material name="red"/>
    </visual>
    <collision>
      <origin xyz="${zero_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${base_radius}" length="${base_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- #endregion -->

  <!-- #region Copter Arms -->
  <link name="copter_arm_1">
    <inertial>
      <origin xyz="${arm_origin}" rpy="${zero_rpy}"/>
      <mass value="${arm_mass}"/>
      <inertia ixx="${arm_ixx}" ixy="${arm_ixy}" ixz="${arm_ixz}" iyy="${arm_iyy}" iyz="${arm_iyz}" izz="${arm_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${arm_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${arm_radius}" length="${arm_length}"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="${arm_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${arm_radius}" length="${arm_length}"/>
      </geometry>
    </collision>
  </link>

  <link name="copter_arm_2">
    <inertial>
      <origin xyz="${arm_origin}" rpy="${zero_rpy}"/>
      <mass value="${arm_mass}"/>
      <inertia ixx="${arm_ixx}" ixy="${arm_ixy}" ixz="${arm_ixz}" iyy="${arm_iyy}" iyz="${arm_iyz}" izz="${arm_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${arm_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${arm_radius}" length="${arm_length}"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="${arm_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${arm_radius}" length="${arm_length}"/>
      </geometry>
    </collision>
  </link>

  <link name="copter_arm_3">
    <inertial>
      <origin xyz="${arm_origin}" rpy="${zero_rpy}"/>
      <mass value="${arm_mass}"/>
      <inertia ixx="${arm_ixx}" ixy="${arm_ixy}" ixz="${arm_ixz}" iyy="${arm_iyy}" iyz="${arm_iyz}" izz="${arm_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${arm_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${arm_radius}" length="${arm_length}"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="${arm_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${arm_radius}" length="${arm_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- #endregion -->

  <!-- #region Copter Splits -->
  <link name="copter_split_1">
    <inertial>
      <origin xyz="${split_origin}" rpy="${zero_rpy}"/>
      <mass value="${split_mass}"/>
      <inertia ixx="${split_ixx}" ixy="${split_ixy}" ixz="${split_ixz}" iyy="${split_iyy}" iyz="${split_iyz}" izz="${split_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${split_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <box size="${split_xsize} ${split_ysize} ${split_zsize}"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="${split_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <box size="${split_xsize} ${split_ysize} ${split_zsize}"/>
      </geometry>
    </collision>
  </link>

  <link name="copter_split_2">
    <inertial>
      <origin xyz="${split_origin}" rpy="${zero_rpy}"/>
      <mass value="${split_mass}"/>
      <inertia ixx="${split_ixx}" ixy="${split_ixy}" ixz="${split_ixz}" iyy="${split_iyy}" iyz="${split_iyz}" izz="${split_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${split_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <box size="${split_xsize} ${split_ysize} ${split_zsize}"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="${split_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <box size="${split_xsize} ${split_ysize} ${split_zsize}"/>
      </geometry>
    </collision>
  </link>

  <link name="copter_split_3">
    <inertial>
      <origin xyz="${split_origin}" rpy="${zero_rpy}"/>
      <mass value="${split_mass}"/>
      <inertia ixx="${split_ixx}" ixy="${split_ixy}" ixz="${split_ixz}" iyy="${split_iyy}" iyz="${split_iyz}" izz="${split_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${split_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <box size="${split_xsize} ${split_ysize} ${split_zsize}"/>
      </geometry>
      <material name="green"/>
    </visual>
    <collision>
      <origin xyz="${split_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <box size="${split_xsize} ${split_ysize} ${split_zsize}"/>
      </geometry>
    </collision>
  </link>
  <!-- #endregion -->

  <!-- #region Copter Props -->
  <link name="copter_prop_1r">
    <inertial>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <mass value="${prop_mass}"/>
      <inertia ixx="${prop_ixx}" ixy="${prop_ixy}" ixz="${prop_ixz}" iyy="${prop_iyy}" iyz="${prop_iyz}" izz="${prop_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
    </collision>
  </link>

  <link name="copter_prop_1l">
    <inertial>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <mass value="${prop_mass}"/>
      <inertia ixx="${prop_ixx}" ixy="${prop_ixy}" ixz="${prop_ixz}" iyy="${prop_iyy}" iyz="${prop_iyz}" izz="${prop_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
    </collision>
  </link>

  <link name="copter_prop_2r">
    <inertial>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <mass value="${prop_mass}"/>
      <inertia ixx="${prop_ixx}" ixy="${prop_ixy}" ixz="${prop_ixz}" iyy="${prop_iyy}" iyz="${prop_iyz}" izz="${prop_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
    </collision>
  </link>

  <link name="copter_prop_2l">
    <inertial>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <mass value="${prop_mass}"/>
      <inertia ixx="${prop_ixx}" ixy="${prop_ixy}" ixz="${prop_ixz}" iyy="${prop_iyy}" iyz="${prop_iyz}" izz="${prop_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
    </collision>
  </link>

  <link name="copter_prop_3r">
    <inertial>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <mass value="${prop_mass}"/>
      <inertia ixx="${prop_ixx}" ixy="${prop_ixy}" ixz="${prop_ixz}" iyy="${prop_iyy}" iyz="${prop_iyz}" izz="${prop_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
    </collision>
  </link>

  <link name="copter_prop_3l">
    <inertial>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <mass value="${prop_mass}"/>
      <inertia ixx="${prop_ixx}" ixy="${prop_ixy}" ixz="${prop_ixz}" iyy="${prop_iyy}" iyz="${prop_iyz}" izz="${prop_izz}"/>
    </inertial>
    <visual>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <origin xyz="${prop_origin}" rpy="${zero_rpy}"/>
      <geometry>
        <cylinder radius="${prop_radius}" length="${prop_length}"/>
      </geometry>
    </collision>
  </link>
  <!-- #endregion -->

  <!-- #region Revolute Joints -->
  <joint name="base_to_arm_1" type="revolute">
    <parent link="copter_base"/>
    <child link="copter_arm_1"/>
    <origin xyz="0.0 ${base_radius} 0.0" rpy="${-pi/2} 0.0 0.0"/>
    <axis xyz="${arm_joint_axis}"/>
    <limit lower="${-arm_joint_limit}" upper="${arm_joint_limit}" effort="${arm_joint_effort}" velocity="1.0"/>
  </joint>

  <joint name="base_to_arm_2" type="revolute">
    <parent link="copter_base"/>
    <child link="copter_arm_2"/>
    <origin xyz="${base_radius*cos(pi/6)} ${-base_radius*sin(pi/6)} 0.0" rpy="${-pi/2} 0.0 ${-pi/6-pi/2}"/>
    <axis xyz="${arm_joint_axis}"/>
    <limit lower="${-arm_joint_limit}" upper="${arm_joint_limit}" effort="${arm_joint_effort}" velocity="1.0"/>
  </joint>

  <joint name="base_to_arm_3" type="revolute">
    <parent link="copter_base"/>
    <child link="copter_arm_3"/>
    <origin xyz="${-base_radius*cos(pi/6)} ${-base_radius*sin(pi/6)} 0.0" rpy="${-pi/2} 0.0 ${+pi/6+pi/2}"/>
    <axis xyz="${arm_joint_axis}"/>
    <limit lower="${-arm_joint_limit}" upper="${arm_joint_limit}" effort="${arm_joint_effort}" velocity="1.0"/>
  </joint>
  <!-- #endregion -->

  <!-- #region Fixed Joints -->
  <joint name="arm_to_split_1" type="fixed">
    <parent link="copter_arm_1"/>
    <child link="copter_split_1"/>
    <origin xyz="${split_joint_origin}" rpy="${zero_rpy}"/>
  </joint>

  <joint name="arm_to_split_2" type="fixed">
    <parent link="copter_arm_2"/>
    <child link="copter_split_2"/>
    <origin xyz="${split_joint_origin}" rpy="${zero_rpy}"/>
  </joint>

  <joint name="arm_to_split_3" type="fixed">
    <parent link="copter_arm_3"/>
    <child link="copter_split_3"/>
    <origin xyz="${split_joint_origin}" rpy="${zero_rpy}"/>
  </joint>

  <joint name="split_1_to_prop_r" type="fixed">
    <parent link="copter_split_1"/>
    <child link="copter_prop_1r"/>
    <origin xyz="${prop_joint_origin_r}" rpy="${prop_joint_rpy}"/>
  </joint>

  <joint name="split_1_to_prop_l" type="fixed">
    <parent link="copter_split_1"/>
    <child link="copter_prop_1l"/>
    <origin xyz="${prop_joint_origin_l}" rpy="${prop_joint_rpy}"/>
  </joint>

  <joint name="split_2_to_prop_r" type="fixed">
    <parent link="copter_split_2"/>
    <child link="copter_prop_2r"/>
    <origin xyz="${prop_joint_origin_r}" rpy="${prop_joint_rpy}"/>
  </joint>

  <joint name="split_2_to_prop_l" type="fixed">
    <parent link="copter_split_2"/>
    <child link="copter_prop_2l"/>
    <origin xyz="${prop_joint_origin_l}" rpy="${prop_joint_rpy}"/>
  </joint>

  <joint name="split_3_to_prop_r" type="fixed">
    <parent link="copter_split_3"/>
    <child link="copter_prop_3r"/>
    <origin xyz="${prop_joint_origin_r}" rpy="${prop_joint_rpy}"/>
  </joint>

  <joint name="split_3_to_prop_l" type="fixed">
    <parent link="copter_split_3"/>
    <child link="copter_prop_3l"/>
    <origin xyz="${prop_joint_origin_l}" rpy="${prop_joint_rpy}"/>
  </joint>
  <!-- #endregion -->

  <!-- <drake:collision_filter_group name="self_collision_ignore">
    <drake:member link="copter_base"/>
    <drake:member link="copter_arm_1"/>
    <drake:member link="copter_arm_2"/>
    <drake:member link="copter_arm_3"/>
    <drake:member link="copter_split_1"/>
    <drake:member link="copter_split_2"/>
    <drake:member link="copter_split_3"/>
    <drake:ignored_collision_filter_group name="self_collision_ignore"/>
  </drake:collision_filter_group> -->

</robot>